#mainPane{
    -fx-background-color: white;
}

.btn{
    -fx-background-color: #0147d4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn4{
    -fx-background-color: #18ef35;
    -fx-text-fill: black;
    -fx-font-weight: bold;
     -fx-transition: 0.2s;
}

.btn2{
    -fx-background-color: #eb1329;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btnWhite{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.btnBlue{
    -fx-background-color: #41bbfd;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.btnYellow{
    -fx-background-color: #fbfc42;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.lable{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.btn3{
    -fx-background-color: #18ef35;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.background{
    -fx-background-color: #00fffb;
}

.textPane{
    -fx-background-color: white;
    -fx-border-color: rgba(76, 73, 73, 0.83);
    -fx-border-radius: 15px;
}
.textField{
    -fx-background-color: white;
    -fx-prompt-text-fill: #726d6d;
}
.textLabel{
    -fx-background-color: white;
    -fx-padding: 0 5px 0px 5px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(76, 73, 73, 0.83);;
}
.table-view:focused{
    -fx-background-insets: 0px;
}

.table-view .column-header{
    -fx-size:40px;
    -fx-background-color: #192a56;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell:empty{
    -fx-background-color: white;
}
.table-view .table-row-cell:selected{
    -fx-background-color:linear-gradient(to right, rgba(119, 8, 245, 0.29), rgba(15, 93, 255, 0.39));
}

.table-view .table-row-cell:selected *{
    -fx-font-weight: bold;
    -fx-text-fill: rgb(54, 49, 49);
}

.actionIcon{
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.dashboard-colour2 {
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}



.btn4:pressed {
    -fx-background-color: #18ef35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.3, 0, 0);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}



